h2 heladfl
a(ui-sref="home") go home
a(ui-sref="list") go to list
a(href="#/home") go to list2

ul(ng-repeat='product in products')
  h1 {{product.name}}
  p {{product.description}}
  p Цена: {{product.price}} руб.
